.textfield_cardcontent_experiment_config {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading_style {
    font-family: sans-serif;
}

.error_text {
    font-family: sans-serif;
    color: red;
    font-size: 20px;
}