// $header-height: 3rem;
// $nav-width: 68px;
// $first-color: #4723D9;
// $first-color-light: #AFA5D9;
// $white-color: #F7F6FB;
// $body-font: 'Nunito', sans-serif;
// $normal-font-size: 1rem;
// $z-fixed: 100;

.App {
  text-align: center;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 100vh;

  .tabContent {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 150px;

    .mainView {
      height: 100%;
      overflow: auto;
    }
  }
}
