.main_container {
    width: 100%;
    height: 100%;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0.5;
}

.fab:hover {
    opacity: 1
}

.filter_drawer_container {
    background: transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.filter_container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}


.filter_textfield {
    width: 100%;
}