.cardcontent_model_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error_text {
    font-family: sans-serif;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.loading_text {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.model_card_content_typography {
    color: gray;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.table_header_bg {
    background-color: rgb(147, 147, 147);
    color: white;
}

.table_header_text {
    color: white;
    font-weight: bold;
}