.global-config {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: calc(var(--nav-width));
    /* border: 1px solid black; */

}

.resizable-global-config {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: solid 1px #ddd;
    background: #f0f0f0;

    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.filter-text-area {
    display: inline !important;
    width: 60% !important;
}