.textsearch_filter_drawer_container {
    background: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.textsearch_filter_header_container {
    padding-left: 20px;
    padding-right: 20px;
}

.textsearch_filter_textfield_container {
    padding: 20px;
}

.textsearch_filter_textfield {
    width: 100%;
}

.textsearch_buttons_contianer {
    margin-top: 20px;
}

.textsearch_button_save {
    width: 50%;
    padding: 15px !important;
    border-radius: 0px !important;
}

.textsearch_button_cancel {
    width: 50%;
    padding: 15px !important;
    border-radius: 0px !important;
    background-color: rgb(170, 171, 172) !important;
}

.textsearch_button_cancel:hover {
    background-color: rgb(147, 147, 148) !important;
}