.main {
    padding: 20px;
    background-color: white;
}

.grid_contianer {
    margin-bottom: 20px;
}

.title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.title_sub_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.title_container_w_select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.title_container_text {
    margin-left: 10px;
}

.card_feel {
    box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.fab {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1;
}