.left-navbar {
    position: fixed;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    transition: .5s;
    z-index: var(--z-fixed);
    padding: 1rem 1rem 0 0
}

.nav_list {
    overflow: hidden;
}

.nav_logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;


    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}


.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0;


    width: calc(var(--nav-width) + 156px);
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}


/* 
.height-100 {
    height: 100vh
} */









#ag-grid-container {
    width: 100% - calc(var(--nav-width));
    height: 100%;
}

#analysis-board-container {
    text-align: center;
    margin-top: 1em;
}

#throughput-board-container {
    text-align: center;
    margin-top: 1em;
}

