.fab_main {
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0.8;
}

.fab_main:hover {
    opacity: 1
}

.fab_headers {
    position: fixed;
    bottom: 100px;
    right: 20px;
    opacity: 0.8;
}

.fab_headers:hover {
    opacity: 1
}

.fab_search {
    position: fixed;
    bottom: 170px;
    right: 20px;
    opacity: 0.8;
}

.fab_search:hover {
    opacity: 1
}

.fab_children {
    background-color: black !important;
    color: white !important;
}

.fab_children:hover {
    background-color: black !important;
    color: white !important;
    opacity: 1 !important;
}