$white:#F7F6FB;
$transition_time: 0.5s;

.homeTabs {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(auto-fit, 50px);
  place-items: center;
  background: #4723D9;
  height: 100vh;
  width: 5rem;
  transition: $transition_time ease-in-out;

  &:hover{
    // width: max-content;
    width: 13rem;

    .homeTab .tabLabel {
        opacity: 1;
        transition: $transition_time ease-in;
      }

    .logo {
      content: url("../icons/logoText.svg");
      left: 0;
    }
  }

  .logo{
    grid-row-start: span 2;
    position: relative;
    left: -60px;
    transition: $transition_time ease-in-out;
  }


  .homeTab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin: auto 0;

    // &:last-child{
    //   grid-row: -1;
    //   margin-bottom: 0;
    // }

    .tabIcon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: $white;
    }

    .tabLabel {
      opacity: 0;
      width: 100px;
      text-align: left;
      color: $white;
    }
  }
}