.settings_main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.settings_text_box_full_width {
    width: 100%;
}

.settings_text_box_less_width {
    width: 60%;
}

.setting_form_btns_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid_container_basic_fields {
    padding-left: 30px;
    padding-right: 30px;
}

.grid_item_basic_fields {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.grid_search_config_contianer {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.heading_style {
    font-family: sans-serif;
}

.settings_files_grid {
    margin-bottom: 40px;
}